body {
  font-family: 'Aboreto', cursive;
    padding: 0%;
    margin: 0%; 
}

header{
    background-color: #000; 
    color: #fff;           
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: sticky;        
    height: 100px;       
    box-sizing: border-box;
    margin-bottom:100px;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.button_header{
    color:white;
    font-size:20px;
    transition:transform ease 0.3s;
    cursor: pointer;
    text-decoration: none;
}


#logo{
    height:80px;
    width:80px;
    border-radius: 50px;
}

.title1{
    
    display: flex;
    justify-content: center;
    font-size:50px;
    
}

.title2{
    
    display: flex;
    justify-content: center;
    font-size:40px;
    color: goldenrod;
    
}

#t1{
    margin:0px;
}

#t2{
    margin:0px;
}

#p1{
    
    color:white;
    font-size:20px;
    transition:transform ease 0.3s;
    cursor: pointer;
}

#p1:hover{
    transform: scale(1.05);
}

#p2:hover{
    transform: scale(1.05);
}

#p3:hover{
    transform: scale(1.05);
}

#p4:hover{
    transform: scale(1.05);
}


.description{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info1{
    display: flex;
    justify-content: center;
}


#info{
    display: flex;
    justify-content: center;
    width: 1300px;
    font-size:22px;
    
}

.button1{
    display: flex;
    justify-content: center;
}

#b1{
    
display: flex;
border-radius: 8px;
padding: 13px 15px;
font-weight: bold;
font-size:20px;
margin-left:25px;
transition: transform ease 0.3s, background-color ease 0.3s ;

}

#b1:hover{
    transform: scale(1.05);
    background-color: rgb(160, 161, 157);
}


.types{
    display: flex;
    justify-content: center;
    gap:300px
}    

.container1{
    width:300px;
    height:300px;
    border: #000;
}


#monthlyT{
    display: flex;
    justify-content: center;

}


.description1{
    display: flex;
    justify-content: center;

}